<section class="hero is-large is-primary">
  <div class="columns">
    <div class="column">
      <div class="hero-body">
        <p class="title">Maquillaje Express</p>
        <p class="subtitle">Consigue un look fresco y pulido que realce tu belleza natural con nuestro servicio de maquillaje express. Perfecto para el día a día o un retoque rápido antes de un evento.</p>
      </div>
    </div>
    <div class="column">
      <figure class="image is-4by5">
        <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
      </figure>
    </div>
  </div>
</section>
