<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title has-text-primary">Descubre tu brillo interior</p>
      <p class="subtitle has-text-link"><%= link_to "Agenda una sesión de maquillaje", "https://wa.me/3323799789/?text=Hola%20me%20interesa%20hacer%20una%20cita"%></p>
    </div>
  </div>
</section>
